#Pcenter {
    text-align: center;
}

#Divcentered {
    text-align: center;
}

#Pred1 {
    color: red;
}

#DivYellow1 {
    background-color: yellow;
}

#DivYellow2 {
    background-color: yellow;

    color: red;
}

#span {
    background-color: yellow;
}

.pcontact {
    display: flex;
    justify-content: flex-start;
}

  .aclass:hover {
    background-color: red;
  }

  .qv1:nth-child(2n+0) { 
    background-color: cyan;
    }

    #nav {
        position: fixed;
        background-color: red;
        height: 50px;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #divNav {
        
    }
    
    .section1 {
        position: relative;
        top: 85px;
    }

    #a {
        font-size: 250%;
    }

    #language1 {
        width: 53px;
        height: 35px;
    }

    #languageDIV {
        display: flex;
        justify-content: flex-end;

    }

    #pictureDIV {
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 11; 
    }

    #Lpem1 {
        display: flex;
        justify-content: flex-start;
    }

    #phone {
        width: 135px;
        height: 135px;
    }

    #email {
        width: 130px;
        height: 130px;   
    }

    #AMD3800image {
        width: 123px;
        height: 103px;
    }

    #MSI2080Simage {
        width: 123px;
        height: 123px;
    }

    #MSI2080S {
        position: relative;
        left: 200px;
        top: -219px;
    }

    #MSIX570EDGEimage {
        width: 161px;
        height: 136px;
    }

    #MSIX570EDGE {
        position: relative;
        left: 485px;
        top: -453px;
    }

    #GSkillNeo16GbRamimage {
        width: 145px;
        height: 145px; 
    }

    #GSkillNeo16GbRam {
        position: relative;
        left: 735px;
        top: -694px;
    }

    #CoolerMasterML240PMirageImage {
        width: 150px;
        height: 150px; 
    }

    #CoolerMasterML240PMirage {
        position: relative;
        left: 950px;
        top: -938px;
    }

    #CrucialNVMe1ToImage {
        width: 140px;
        height: 140px; 
    }

    #CrucialNVMe1To {
        position: relative;
        left: 1275px;
        top: -1173px;
    }

    #SeagateSSHD1ToImage {
        width: 135px;
        height: 135px; 
    }

    #SeagateSSHD1To {
        position: relative;
        left: 1500px;
        top: -1406px;
    }

    #CoolerMasterV750Image {
        width: 130px;
        height: 130px; 
    }

    #CoolerMasterV750 {
        position: relative;
        left: 1740px;
        top: -1632px;
    }
    



